@using MvcStok.Models.Entity
@model List<TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>URUN ID</th>
        <th>URUN ADI</th>
        <th>MARKASI</th>
        <th>KATEGORI</th>
        <th>KALAN STOK</th>
        <th>FİYATI</th>
    </tr>
    <tbody>
        @foreach(var urn in Model)
        {
        <tr>
            <td>@urn.URUNID</td>
            <td>@urn.URUNAD</td>
            <td>@urn.MARKA</td>
            <td>@urn.URUNKATEGORI</td>
            <td>@urn.STOK</td>
            <td>@urn.FIYAT</td>
        </tr>
        }
    </tbody>
</table>
<a href="/Urun/UrunEkle" class="btn btn-primary">Yeni ürün ekle</a>
